.App {
  display: flex;
  height: 100vh;
  flex-direction: row;
  background-color: #282c34;
}

.left-panel {
  width: 70%;
}
.right-panel {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.points {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.suggesstions {
  width: 90%;
}

.left_arm {
  color: white;
}